{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <form method="post">
            <div>
                <label for="pseudo">Pseudo : </label>
                <input type="text" name="pseudo" id="pseudo">
            </div>

            <div class="button">
                <button class="btn-login btn border active" type="submit">Connexion</button>
            </div>
        </form>
        <div class="button">
            <a class="btn border active" href="{{ path('player_new') }}">S'inscrire</a>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

