{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <form method="post">
            <div>
                <label for="username">Pseudo : </label>
                <input type="string" name="_username" id="username">
                <input type="password" name="_password" id="password" value="123" hidden>
            </div>

            <div class="button">
                <button class="btn-login btn border active" type="submit">Connexion</button>
            </div>
        </form>
        <div class="button">
            <a class="btn border active" href="{{ path('player_new') }}">S'inscrire</a>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

