{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <form method="post">
            <div>
                <label for="username">Identifiant : </label>
                <input type="text" name="_username" id="username">
            </div>

            <div class="button">
                <button class="btn-login btn border active" type="submit">Connexion</button>
            </div>
            <div class="button">
                <a class="btn border active" href="{{ path('player_new') }}">S'inscrire</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

