{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="{{ asset ("css/appPlayer.css") }}">
    <div>
        <form method="post">
            <div>
                <label for="username">Pseudo : </label>
                <input type="text" name="_username" id="username">
                <input type="password" name="_password" id="password" value="123" hidden>
            </div>

            <div class="button">
                <button class="btn-login btn border active" type="submit">Connexion</button>
            </div>
        </form>

            <a class="btn border" href="{{ path('player_new') }}">S'inscrire</a>

    </div>
{% endblock %}

{% block title %}

{% endblock %}

