{% extends 'base.html.twig' %}

{% block meta %}
    <meta http-equiv="refresh" content="3;{{ path('player_show_progress') }}" />
{% endblock %}

{% block title %}Terminer{% endblock %}

{% block body %}
    <div class="row align-items-center" style="height: 100vh;">
        <div class="col">
            <div class="row justify-content-center">
                <h1>Le jeu est terminé</h1>

                Vous avez utilisé votre derniere chance, au revoir !
            </div>
        </div>
    </div>
{% endblock %}
