{% extends 'base.html.twig' %}

{% block meta %}
    <meta http-equiv="refresh" content="3;{{ path('player_show_progress') }}" />
{% endblock %}

{% block title %}Terminer{% endblock %}

{% block body %}
    <h1>Le jeux est terminé</h1>

Vous avez utilisé votre derniere chance, au revoir !
{% endblock %}
