{% extends "base.html.twig" %}
{% block title %} Administrateur Session{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset ("css/appAdmin.css") }}">
    {% include "admin/navAdmin.html.twig" %}

    <h1>Créer Nouvelle Session</h1>
<div class="col-12 align-content-center" style="margin-left: 100px">

    {{ include('session/_form.html.twig') }}

</div>



{%  endblock %}