{% extends "base.html.twig" %}
{% block title %} Administrateur Session{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset ("css/appAdmin.css") }}">
    {% include "admin/navAdmin.html.twig" %}
    <div class="row">
    <a href="{{ path('gestion_session') }}" class="btn" style="padding: 0 5px 0 0"><i
                class="fa fa-arrow-left fa-3x" aria-hidden="true"></i></a>
    <h1>Créer Nouvelle Session</h1>
    </div>
<div>
    {{ include('session/_form.html.twig') }}
</div>
{%  endblock %}