{% extends "base.html.twig" %}
{% block title %} Administrateur Groupe{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset ("css/app.css") }}">

    {% include "admin/navAdmin.html.twig" %}

    <h1>Créer Nouvelle Session</h1>
    <div class="col-12 align-content-center" style="margin-left: 100px">

    </div>



{%  endblock %}