{% extends "base.html.twig" %}
{% block title %} Administrateur Session{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset ("css/app.css") }}">
    {% include "admin/navAdmin.html.twig" %}
    <div class="col-12 "></div>
    <div class="buttonAdmin align">
        <br>
        <div>
            <a class="btn-login btn border active" href="{{path('session_new_admin')}}" style="width: 100%; font-size: 75px">Créer Session</a>
        </div>
        <br>
        <div>
            <a class="btn-login btn border active" href="{{path('liste_session')}}" style="width: 100%; font-size: 75px">Lister Sessions</a>
        </div>
        <br>


    </div>

{%  endblock %}