{% extends "base.html.twig" %}
{% block title %} Administrateur Enigmes{% endblock %}

{% block body %}

    <link rel="stylesheet" href="{{ asset ("css/appAdmin.css") }}">
    {% include "admin/navAdmin.html.twig" %}
    <div class="col-12 "></div>
    <div class="buttonAdmin align">
        <br>
        <div>
            <a class="btn-login btn border active" href="{{ path('enigma_new_admin') }}" style="width: 100%; font-size: 75px">Créer Enigme</a>
        </div>
        <br>
        <div>
            <a class="btn-login btn border active" href="{{path('enigma_liste_admin')}}" style="width: 100%; font-size: 75px">Lister Enigmes</a>
        </div>
        <br>


    </div>

{%  endblock %}