{% extends "base.html.twig" %}

{% block title %} Administrateur
{% endblock %}

{% block body %}
    {% include "admin/navAdmin.html.twig" %}

    <a class="btn-login btn border active" type="submit">Session</a>

{%  endblock %}

