{% extends "base.html.twig" %}

{% block title %} Administrateur
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset ("css/appAdmin.css") }}">
    {% include "admin/navAdmin.html.twig" %}
    <div class="col-12 "></div>
    <div class="buttonAdmin align">
    <br>
    <div>
        <a class="btn-login btn border active" href="{{ path('gestion_session') }}" style="width: 100%; font-size: 75px">Session</a>
    </div>
    <br>
    <div>
        <a class="btn-login btn border active" href="{{ path('gestion_enigme') }}" style="width: 100%; font-size: 75px">Enigme</a>
    </div>
    <br>
    <div>
        <a class="btn-login btn border active" href="{{ path('gestion_competence') }}" style="width: 100%; font-size: 75px">Compétence</a>
    </div>
    <br>
    <div>
        <a class="btn-login btn border active" href="#" style="width: 100%; font-size: 75px">Atout</a>
    </div>
    </div>

    <div></div>
{%  endblock %}

