{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid logform">
        <form method="post">
            <label for="username">Email : </label>
            <input type="string" name="_username" id="username">

            <br>

            <label for="password">Mot de passe : </label>
            <input type="password" name="_password" id="password">

            <br>

            <button type="submit">Connexion !</button>
        </form>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

