<nav class="navbar navbar-light bg-light">
  <span class="navbar-text">
    Interface Administrateur {{ personne.pseudo }}
  </span>
  <span class="navbar-text">
    <a class="btn btn-outline-secondary" href="{{ path('home_admin') }}">Home</a>
  </span>
</nav>