{{ form_start(form) }}
    {{ form_widget(form) }}
<div class="form-example">
    <label for="nbrTeam">Nombre d'équipes : </label>
    <input type="number" name="nbrTeam" id="nbrTeam" required min="1" value="1">
</div>
<div class="form-example">
    <label for="timePlay">Temps de Jeu : </label>
    <input type="time" name="timePlay" id="timePlay" required>
</div>
    <button class="btn-success">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
