<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}
        <link rel="stylesheet" href="{{ asset ("bootstrap/dist/css/bootstrap.min.css") }}">
    </head>
    <body>
        <div class="container">
            {% block body %}

            {% endblock %}
        </div>

        {% block javascripts %}

        {% endblock %}
        <script src="{{ asset('bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('bootstrap/dist/js/jquery-3.2.1.slim.min.js') }}"></script>
    </body>
</html>
