<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 403</title>
    <style>
        html,
        body {
            height:100%;
            padding:0;
            margin:0;
        }
        .gif {
            width: 100vh;
            height:100vw;
            background: url({{ asset('css/image/73FzKOYDpp7VK.gif') }}) center;
            background-size:cover;
        }
    </style>
</head>
<body>
<div class="gif"></div>
</body>
</html>